@{
  Layout = "_Layout";
}

<h1>Welcome to the Doctors Office management!</h1>
<p>@Html.ActionLink("See all items", "Index", "Patients")</p> <p>@Html.ActionLink("See all categories", "Index", "Doctors")</p>